.overlay {
    position: absolute;
    display: none;
    width: 100%;
    background-color: rgba(255, 187, 0, 0.85);
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.closeMe{
    position: absolute;
    mix-blend-mode: difference;
    filter: invert(1);
    font-size: 25px;
    font-weight: bold;
    left: 73%;
    top: 10%;
    cursor: pointer;
}