.colorWhite, a.colorWhite, a.colorWhite:hover {
    color : cornsilk !important;
}

.overlay {
    position: absolute;
    display: none;
    width: 50%;
    margin : auto;
    background-color: rgba(255, 187, 0, 0.85);
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    z-index: 1;
}

.closeMe{
    position: absolute;
    mix-blend-mode: difference;
    filter: invert(1);
    font-size: 25px;
    font-weight: bold;
    left: 73%;
    top: 10%;
    cursor: pointer;
}