body {margin-left:auto;
    margin-right:auto;
    background-color: #C6C0A0;
    width:80%;}

h2 {color: #7d775c;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px; }

h3 {color: #7D775C;
    font-size:larger;
    font-weight: bold;
    letter-spacing: 1px;}

li {padding-top: 12px;}

.vert {color: green}

#duree {color:red;
        font-size:larger;
        text-decoration: underline;}

#container {background-color: white;
    font-family : 75% georgia;
    color : #555753;
    padding: 20px;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 8px 8px 12px #aaa;
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;   
            }

#menu {float:left;
    position: fixed;
                margin: 0;
                padding: 0;
                font: bold 1em "georgia" ,verdana;
                list-style-type: none;
               }
            
#menu a {
                display: block;
                margin: 5%;
                color: #508768;
                text-decoration: none;
                line-height:2em;
                width: 100px;
                border:1px solid blue;
                background-color: #BDD7B5;
                text-align: center;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                box-shadow: 8px 8px 12px #aaa;
                -moz-box-shadow: 8px 8px 12px #aaa;
                -webkit-box-shadow: 8px 8px 12px #aaa;
               }
            
#menu a:hover, #menu a:focus {
                color: #BDD7B5;
                background-color: #508768;
               }
                           
               
