body {background-image: url(src/Grassland_1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;}

.photo {width: 50%;
        height: auto;}

.white {color: white;
        text-align: center;}