body {background-color:khaki;
    max-width: 1280px;
    height: 100%;
    margin-left : auto ;
    margin-right : auto;}

#container {background-color: rgb(201, 201, 201);}

#header {background-color: rgb(144, 144, 255);
        width: 100%;
        height: 300px;}

#photo {float:left;
        width: 26%;
        height:26%;}

#presentation {float:right;
        width: 70%;
        padding: 2%;}

.icon  {width: 3.3333%;
        height: 3.3333%;}

.bouton {font-size: 18px;
        text-align: center;
        float:left;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 20%;}

#menu {float: right;
       width: 100%;
      background-color: yellow;
        }
        
#menu a {text-decoration: none;
        background-color: yellow;
        color:tomato;}

#menu a:hover , #menu a:focus {
        height:100%;
        background-color: tomato;
        color:yellow;}

.titre {font-size : 20p;
        color:cornsilk;
        text-align: center;
        background-color: brown;
        padding:10px;}

@ media screen and (min-widht: 641px) {}

