body {background-color:khaki;
    max-width: 1280px;
    height: 100%;
    margin-left : auto ;
    margin-right : auto;}

#container {background-color: rgb(201, 201, 201);}

#photo {float: left;
        width: 26%;
        height: 26%;
        max-height: 335px;}

#presentation {
        background-color: rgb(164, 164, 240);
        float: right;
        padding: 2%;
        width: 70%;
        height: 70%;}

.icon  {width: 40px;
        height:40px;}

.bouton {font-size: 18px;
        text-align: center;
        float:left;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 20%;}

#menu {float: right;
       width:74%;
      background-color: yellow;
        }
        
#menu a {text-decoration: none;
        background-color: yellow;
                color:tomato}

#menu a:hover , #menu a:focus {
        height:100%;
        background-color: tomato;
        color:yellow;} */

.titre {}


/* #colonne_1 {float: right;
    width: 50%;}

#colonne_2 {float: left;
    width: 50%;}

#colonne_3 {float: left;
    width: 50%;} */
