body {background-image: url(src/Background/fond_1.jpg);
        background-attachment: fixed;}

.titre {background-color: rgba(255, 255, 255, 0.7);
        font-family: today;
        src: url("src/font/today.TTF");
        font-size: xx-large;
        text-align: center;
        width: auto;
        margin: 0.5em;
        padding: 0.2em;}

#competences {color: red;
        border: 0.1em solid red;
        border-bottom: 0px;}

#formation {color: orange;
        border: 0.1em solid orange;
        border-bottom: 0px;}

#XP {color: green;
        border: 0.1em solid green;
        border-bottom: 0px;}

#loisirs {color: blue;
        border: 0.1em solid blue;
        border-bottom: 0px;}

#contact {color:purple;
        border: 0.1em solid purple;
        border-bottom: 0px;}

#retour {width: 50%;
        height: 50%;}

#stage {font-size: x-large;}

.cadre_red {border: 2em solid white;
        background-color: rgb(255, 0, 0, 0.5);}    
        
.cadre_bleu {background-color: rgb(0, 0, 255, 0.5);}
        
.cadre_purple {border: 2em solid white;
        background-color: rgb(128, 0, 128, 0.5);
        color: white;} 

.icon {width: 20%;      /* s'applique aux icones Competences */
        height: auto;}

.flag {width: 100%;     /* s'applique aux images Loisirs */
        height: 100%;
        padding: 3%;}

.icon_2 {width: 100%;    /* s'applique a "icon CV en pdf" + "icon retour" */
        height: auto;}

.photo  {width : 50%;
        height: auto;
        float: center;}